<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图片上传</title>
    <style>
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>图片上传</h2>
        <form th:action="@{/cover}" method="post" enctype="multipart/form-data">
            <input name="file" type="file">
            <input type="submit">
        </form>
    </div>
</body>
</html>